body{
  margin: 0px;
  padding: 0px;
}

.Library h1{
  font-weight: bold;
  font-family: initial;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  background: -webkit-linear-gradient(left, #5F9DF7, #FC2947);
  border-radius: 15px;
}
.book-image{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    height: auto;
    width: 100%;
    background-color: white;
}

.Library book-image {
  position: relative;
  display: inline-block;
}

.book {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.book img {
  width: 220px;
  height: 280px;
  margin-right: 20px;
}


.book-select {
  background-color: #00FFCA;
  color: white;
  font-weight: bold;
  width: 80px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bookNowBtn{
background-color: red;
}

.bookContainer .book{
  display: flex;
}




#bookContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}





