body{
	padding: 0px;
	margin: 0px;
}

.box {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
  }
  
  img {
	max-width: 100%;

  }
  
  h5 {
	margin-top: 0;
  }
  
  p {
	margin-top: 10px;
  }
  
  span {
	font-weight: bold;
  }